services:
  lock-node-1:
    build: .
    image: lockio:latest
    container_name: lock-node-1
    environment:
      - SELF_ADDRESS=lock-node-1:4321
      - PARTNER_ADDRESSES=lock-node-2:4322,lock-node-3:4323
      - API_PORT=5000
    ports:
      - "5000:5000"
      - "4321:4321"
    networks:
      - lockio-net

  lock-node-2:
    image: lockio:latest
    container_name: lock-node-2
    environment:
      - SELF_ADDRESS=lock-node-2:4322
      - PARTNER_ADDRESSES=lock-node-3:4323,lock-node-1:4321
      - API_PORT=5000
    ports:
      - "5001:5000"
      - "4322:4321"
    networks:
      - lockio-net
    depends_on:
      - lock-node-1

  lock-node-3:
    image: lockio:latest
    container_name: lock-node-3
    environment:
      - SELF_ADDRESS=lock-node-3:4323
      - PARTNER_ADDRESSES=lock-node-1:4321,lock-node-2:4322
      - API_PORT=5000
    ports:
      - "5002:5000"
      - "4323:4321"
    networks:
      - lockio-net
    depends_on:
      - lock-node-1

networks:
  lockio-net:
    driver: bridge


